.HistoryBoard {
  background-color: #a7a7a7;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vh;
  color: white;
  border-radius: 15px;
}