.Header {
    display:flex;
    align-items: center; 
    justify-content: center;
    min-height: 70px;
    background-color: #131329;
    font-size: calc(30px);
    color: white;
    position: relative;
  }